<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odin Postgres</title>
  </head>
  <body>
    <form action="/" method="get">
      <input type="text" name="search" id="search" />
      <button type="submit">Search</button>
    </form>
    <p>Usernames</p>
    <% if (usernames) { %>
    <ul>
      <% usernames.forEach((user)=> {%>
      <li><%=user.id%> - <%= user.username%>
    
        <form action="/delete" method="post">
            <button name="userid" value=<%=user.id%> >Delete</button>
        </form>
        
    </li>
      <%})%>
    </ul>
    <%}%>
    <a href="/new">Add User</a>
  </body>
</html>
